<form role="form">
	{{#if _id}}
		<input type="hidden" value={{_id}}>
		<div class="page-header">
			<h1>Modifier {{name}}</h1>
		</div>
	{{else}}
		<div class="page-header">
			<h1>Ajouter un nouveau jeu</h1>
		</div>
	{{/if}}
	<div class="form-group">
		<label for="name" class="control-label">Titre du jeu</label>
		<input id="name" class="form-control input-lg" type="text" value="{{name}}">
	</div>
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			<input class="form-control input-lg" id="minPlayer" type="number" value="{{minPlayer}}" min="1" required>
			<span class="input-group-addon">à</span>
			<input class="form-control input-lg" id="maxPlayer" value="{{maxPlayer}}"  type="number" min="1" required>
		</div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon">
			<i class="glyphicon glyphicon-time"></i>
</span>
			<input class="form-control input-lg" id="time" value="{{time}}" type="number" min="1" required>
		</div>
		<span class="help-block">Temps / joueur</span>
	</div>
	<hr>
	<button class="btn btn-default btn-lg pull-right save">
		Sauvegarder
	</button>
</form>
